/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://picsum.photos/5000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.home-container {
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a nice effect */
}
/* Navigation bar */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a.active {
  font-weight: bold;
  color: #007bff;
}

/* Product items */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
}

.product h3 {
  margin-top: 0;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product p {
  margin: 5px 0;
}

.product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.product button:hover {
  background-color: #0056b3;
}

/* Shopping cart */
.cart {
  margin-top: 20px;
}

.cart h2 {
  margin-top: 0;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.cart button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart button:hover {
  background-color: #c82333;
}

/* Checkout form */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23777"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.form-group button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}
